expenses/windows/flutter/generated_plugins.cmake
expenses/windows/flutter/generated_plugin_registrant.h
expenses/windows/flutter/generated_plugin_registrant.cc
expenses/macos/Flutter/GeneratedPluginRegistrant.swift
expenses/linux/flutter/generated_plugins.cmake
expenses/linux/flutter/generated_plugin_registrant.h
expenses/linux/flutter/generated_plugin_registrant.cc
